Stuff not needed
*~
.idea/Tracker.iml
.idea/codeStyleSettings.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml
controller/Controller.pyc
controller/__init__.pyc
core/ContourManager.pyc
core/DataManager.pyc
core/DataWriter.pyc
core/ImageManager.pyc
core/MetaEntry.pyc
core/MetaManager.pyc
core/ROI.pyc
core/ROIManager.pyc
core/RelROI.pyc
core/Tracker.pyc
core/__init__.pyc
core/tracker.cnf
for_me/
meta_templates/
tools/videoPlayer.py
tracker.cnf
ui/MyQLine.pyc
ui/RoiInputBox.pyc
ui/TabAdv.pyc
ui/TabFile.pyc
ui/TabFileBatch.pyc
ui/TabMeta.pyc
ui/TabMetaEntry.pyc
ui/TabRoi.pyc
ui/TabVisual.pyc
ui/TrackerUI.pyc
ui/__init__.pyc
Skeletonizer.pyc
