[meta]
experimenter = 
fish_id = 

[system]
frame_waittime = 50

[roi]
x1 = 160
x2 = 700
y1 = 80
y2 = 525

[starting_area]
x1_factor = 0.85
x2_factor = 1.0
y1_factor = 0.3
y2_factor = 0.7

[detection_values]
start_orientation = 270
min_area_threshold = 700
max_area_threshold = 4000
enable_max_size_threshold = False

[image_morphing]
erosion_factor = 1
dilation_factor = 4

[image_processing]
show_bg_sub_img = False
show_morphed_img = False
draw_contour = False
draw_ellipse = True

[visualization]
lineend_offset = 5
circle_size = 2

